<div class="col-lg-4 col-md-4 col-sm-12 pad-none-left small-screen" ng-show="showSideBar" id="dmSideBar">
    <div class="side-bar-container  bg-right">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="clr1"><i class="glyphicon glyphicon-time"></i>&nbsp;Alerts</h4>
                <hr class="custom-hr">
                <div ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">

                    <p class="clr-text pad-t-b"><i class="clr1 glyphicon glyphicon-arrow-right"></i>&nbsp;Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
                    <hr class="custom-hr">
                </div>

                <h4 class="clr1 text-center  p-sm">Additional Factors</h4>
                <hr class="custom-hr">
                <div class="col-lg-12 col-sm-6">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <br>
                        <h4 class="clr1">Weather</h4>
                    </div>
                    <div class="col-lg-4">
                        <br>
                        <switch id="enabled" name="enabled" ng-model="enableWeather" class="custom-switch"></switch>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-6">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-4">
                        <br>
                        <h4 class="clr1">Traffic</h4>
                    </div>
                    <div class="col-lg-4">
                        <br>
                        <switch id="enabled" name="enabled" ng-model="enableTraffic" class="custom-switch"></switch>
                    </div>
                </div>
            </div>
        </div>
        <!--   Right section grid ends ---->
    </div>
</div>